@font-face {
  font-family: "Rubik-Light";
  src: url("../fonts/Rubik/Rubik-Light.woff2"),
    url("../fonts/Rubik/Rubik-Light.woff"),
    url("../fonts/Rubik/Rubik-Light.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("../fonts/Rubik/Rubik-Medium.woff2"),
    url("../fonts/Rubik/Rubik-Medium.woff"),
    url("../fonts/Rubik/Rubik-Medium.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik/Rubik-Regular.woff2"),
    url("../fonts/Rubik/Rubik-Regular.woff"),
    url("../fonts/Rubik/Rubik-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Bold";
  src: url("../fonts/Rubik/Rubik-Bold.woff2"),
    url("../fonts/Rubik/Rubik-Bold.woff"), url("../fonts/Rubik/Rubik-Bold.ttf");
  font-style: normal;
  font-display: swap;
}
